<div class="container">
    <div class="row ">
       <p class="text-center">RentalsHub is part of the RentHub of Sites</p>
<p >© 2022 RentPath Holdings, Inc. All photos, videos, text and other content are the property
    of RentPath Holdings, Inc. RENTALS and the RENTALS Trade Dress are registered
    trademarks of RentPath Holdings, Inc. All rights reserved.</p>
<p>If you are using a screen reader, or are having trouble reading this website,
    please email accessibility r@r.com.</p>

<h6 class="text-center">Copyright © 2022 designed by Manoj,Ravi,Nikhil, India. All rights reserved</h6>

    </div>

</div>