
body {
  background-color: rgb(75, 74, 74);
  color: antiquewhite;
}

.form-control {
  background-color: rgb(177, 168, 168);
}

.jumbo-color {
  background-color: rgb(83, 81, 81);
}
.r1{
background:url('../images/6.jpg');
  background-size: cover;
  width: 1000px;
  height: 400px;
  border: 2px solid red;
  color: blue;
  resize: both;

  margin:100px;
}